<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Task Manager Reminder</h1>
    <p>
      This is to remind you that the Task <%= @task_name %> deadline is <%= @task_deadline %><br>
      Complete your task as soon as possible
    </p>
    <p>Thank you and have a great day!</p>
  </body>
</html>